@import "../../global.scss";

.visu_container_info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 64px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 24px !important;
    color: #303030;
}

.visu_info_linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;
}

.visu_info_linha h3 {
    width: 40%;
}

.visu_info_linha p {
    width: 100%;
}

.visu_arquivos {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 24px !important;
}

.visu_arquivos h3 {
    color: $primario;
}

.visu_cards {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.visu_nao_encontrado {
    color: #8f8f8f;
    margin-top: 24px !important; 
}

.visu_arquivo_titulo {
    color: $primario;
    margin-bottom: 32px;
}

.visu_arquivo_container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.visu_arquivo_cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visu_arquivo_dica {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $primario;
    border: 2px solid $primario;
    padding: 12px;
    margin-bottom: 32px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 50%;
}

.visu_arquivo_dica img {
    width: 24px;
}

.visu_info_linha h3 {
    min-width: 200px;
}

@media only screen and (max-width: 1024px) {

    .visu_info_linha {
        flex-direction: column;
        align-items: start;
    }

    .visu_arquivo_cima {
        flex-direction: column;
        align-items: start;
    }

    .visu_arquivo_dica {
        width: 100%;
    }

}