@import "../../global.scss";

.secao_cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;
    background-color: white;
    padding: 32px 64px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 80px !important;
}

.secao_cima h2 {
    color: $primario;
}

.secao_cima_botoes {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.secao_cima_titulo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.secao_cima_titulo p {
    background-color: $primario;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
}