@import "../../global.scss";

.subarq_cima {
        display: flex;
        margin-top: 32px;
    }

.subarq_mensagem {
        background-color: #f7f7f7;
        padding: 24px;
        border-radius: 12px 0px 0px 12px;
        color: #808080;
        font-size: 14px;
        width: 280px;
    }

.subarq_botao_subir {
        background-color: #003383;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
}

.subarq_remove {
    display: flex;
    align-items: center;
    background-color: $vermelho;
    padding: 22px;
    border-radius: 0px 8px 8px 0px;
}

.subarq_remove:hover {
    background-color: $vermelho-hover;
    cursor: pointer;
}

.subarq_remove img {
    width: 16px;
}
