@import "../../global.scss";

.cons_container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 32px !important; 
}

.align_center {
    align-items: center;
}

.cons_container h1 {
    font-size: 24px;
    font-weight: 700;
    color: #003383;
}

.mtop80 {
    margin-top: 80px !important;
}

.cons_barra_pesquisa {
    display: flex;
    gap: 32px;
    width: 100%;
}

.cons_barra_pesquisa input {
    padding: 12px;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 50%;
    font-size: 16px;
    width: 100%;
}

.cons_barra_pesquisa input:focus {
    outline: none;
}

.cons_botao_pesquisa {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    color: $primario;
    font-weight: 500;
    border: 2px solid $primario;
    background-color: #ffffff;
}

.cons_botao_pesquisa.ativo {
    background-color: $primario;
    color: white;
    border: none
}

.cons_botao_pesquisa:hover {
    cursor: pointer;
}

.cons_botao_pesquisa.ativo:hover {
    cursor: pointer;
}

.cons_botao_pesquisa_container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
}

.cons_tabela {
    overflow-x: auto;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

th, td {
    padding: 16px 0px;
    text-align: left;
    color: #303030;
    font-size: 0.95rem;
}

th {
    padding: 32px 0px;
    border-bottom: 1px solid #C4C4C4;
    font-weight: 600;
}

tr:nth-child(even) { background-color: #F5F5F5; }
tr:nth-child(odd) { background-color: #FFFFFF; }

td img {
    margin-left: 16px;
    width: 64px;
    height: 64px;
    background-color: $primario;
    padding: 12px;
    border-radius: 4px;
}

td img:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.referencia_projeto {
    width: 40%;
    padding-right: 32px;
}

table th:first-child, 
table td:first-child {
  padding-left: 20px;
}

.cons_nenhum td {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    color: #606060;
    font-weight: 500;
}

.cons_botoes_admin {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cons_botao_grande {
    display: flex;
    gap: 16px;
    background-color: $primario;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-bottom: 32px !important;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.cons_botao_grande.cima{
    margin-bottom: 0px !important; 
}
.cons_botao_grande:hover {
    background-color: $primario-hover;
    cursor: pointer;
}

.cons_botao_grande img {
    width: 24px;
}

.referencia {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 100px;
    padding-right: 40px;
}

.coordenador {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 50px;
    padding-right: 40px;
}

.th_botao {
    width: 11%;
    min-width: 128px;
}

.th_titulo {
    min-width: 256px;
}

.th_referencia {
    width: 32%;
}

.th_data {
    width: 10%;
    min-width: 110px;
}

.th_coordenador {
    width: 20%;
    min-width: 128px;
}

.th_valor {
    width: 20%;
    min-width: 128px;
}

.cons_admin {
    display: flex;
    gap: 16px;
}

.cons_admin_esq {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #003383;
    border-radius: 8px;
}

@media only screen and (max-width: 1200px) {

    .cons_tabela, table {
        border-radius: 16px 16px 0px 0px;
    }
}

@media only screen and (max-width: 768px) {

    .cons_admin {
        flex-direction: column;
        gap: 20px;
    }

    .cons_admin_esq {
        margin-bottom: 0px !important;
    }

    .cons_barra_pesquisa {
        flex-direction: column;
        gap: 16px;
    }

    .mtop80 {
        text-align: center;
    }
}