@import "../../global.scss";

.cons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 32px !important; 
}

.cons_container h1 {
    font-size: 24px;
    font-weight: 700;
    color: #003383;
}

.mtop80 {
    margin-top: 80px !important;
}

.cons_barra_pesquisa {
    display: flex;
    gap: 32px;
    width: 100%;
}

.cons_barra_pesquisa input {
    padding: 12px;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 50%;
    font-size: 16px;
    width: 100%;
}

.cons_barra_pesquisa input:focus {
    outline: none;
}

.cons_explicacao {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 16px;
}

.cons_explicacao h4, .cons_topico_detalhe {
    padding: 16px;
    background-color: #F5F5F5;
    border-radius: 8px;
    font-weight: 400;
}

.cons_topicos {
    display: flex;
    gap: 16px;
}

.cons_topicos_esq, .cons_topicos_dir {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.cons_topico_detalhe {
    height: 100%;
}

.cons_topico_detalhe h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.cons_detalhe {
    font-size: 14px;
    margin-top: 12px;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

th, td {
    padding: 16px 0px;
    text-align: left;
    color: #303030;
}

th {
    padding: 32px 0px;
    border-bottom: 1px solid #C4C4C4;
    font-weight: 600;
}

tr:nth-child(even) { background-color: #F5F5F5; }
tr:nth-child(odd) { background-color: #FFFFFF; }

td img {
    margin-left: 16px;
    width: 64px;
    height: 64px;
    background-color: $primario;
    padding: 12px;
    border-radius: 4px;
}

td img:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.referencia_projeto {
    width: 40%;
    padding-right: 32px;
}

table th:first-child, 
table td:first-child {
  padding-left: 20px;
}

.cons_nenhum td {
    padding-left: 56px !important;
    padding-top: 32px;
    padding-bottom: 32px;
}

.cons_botoes_admin {
    display: flex;
    gap: 32px;
}

.cons_botao_grande {
    display: flex;
    gap: 24px;
    background-color: $primario;
    color: white;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 32px;
    margin-bottom: 32px !important;
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.cons_botao_grande:hover {
    background-color: $primario-hover;
    cursor: pointer;
}

.cons_botao_grande img {
    width: 40px;
}

.referencia {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 100px;
    padding-right: 40px;
}

.th_botao {
    width: 135px;
}